<%- include("partials/head") -%>
<div class="first_box">
    <div style="position: relative; " class="h-25 d-flex justify-content-between align-items-center w-100 ">
        <%- include("partials/nav") -%>
            <div class="d-flex m-auto mx-5 justify-content-between flex-column align-items-center h-50">
                <section class="h-25 m-auto mx-5">
                    <h1 class="local" style="font: 900 3vmax montserrat;">Doctor One</h1>
                    <ul class="d-flex justify-content-around align-items-center" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" class="aos-init aos-animate">
                        <li style="list-style-type: none;">
                            <a href="/">Home</a>
                        </li>
                        <li>Doctor One</li>
                    </ul>
            </section>
        </div>
            <aside class="aside mt-5">
                <img  class=" mt-5 pt-5 mx-5 img-fluid img-responsive w-75" src="https://templates.envytheme.com/medip/default/assets/images/page-banner/banner-4.png" alt="doc">
                <div class="shake">
                    <span class="rise-shake">Buy Now</span>
                </div>
                <img style="position: absolute; right: 50px; bottom: 50px;" class="top-page-bottom-center-div" src="https://templates.envytheme.com/medip/default/assets/images/main-banner/banner-one/banner-shape-2.png" alt="">
                <div class="switch-box">
                    <input type="checkbox">
                </div>
            </aside>
      </div>
  </div>
  <%- include("partials/seventh_box") -%>
  <div class=" docColumn seventh_box swiper-container swiper-wrapper d-flex mt-5 justify-content-between align-items-center">
    <div style=" box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 20px; position: relative; " class="img-hover-zoom w-25 m-auto swiper-slide border d-flex justify-content-center align-items-center flex-column">
        <img class="img-fluid img-responsive bg-dark plus" style="border-radius: 10px; width: 35px; height: 35px; position: absolute " src="../images/icons8-plus-math-50.png"/>
        <img class="mt-3 w-100 img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/doctors/doctor-3.png"/>
        <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" class="p-2 d-flex justify-content-center align-items-center flex-column bg-white w-100 h-25">
            <p style="font-weight: 300;" class="mt-2 second_page_heading">Neurology</p>
        <h3>Lorem, ipsum.</h3>
        </div>
        
    </div>
    <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 20px; position: relative;" class="img-hover-zoom w-25 m-auto swiper-slide border m-2 d-flex justify-content-center align-items-center flex-column">
        <img class="img-fluid img-responsive bg-dark plus" style="border-radius: 10px; width: 35px; height: 35px; position: absolute " src="../images/icons8-plus-math-50.png"/>
        <img class="mt-3 img w-100 img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/doctors/doctor-3.png"/>
        <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" class="p-2 d-flex justify-content-center align-items-center flex-column bg-white w-100 h-25">
            <p style="font-weight: 300;" class="mt-2 second_page_heading">Neurology</p>
        <h3>Lorem, ipsum.</h3>
        </div>
        
    </div>
    <div style=" box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 20px; position: relative;" class="img-hover-zoom w-25 m-auto swiper-slide border m-2 d-flex justify-content-center align-items-center flex-column">
        <img class="img-fluid img-responsive bg-dark plus" style="border-radius: 10px; width: 35px; height: 35px; position: absolute " src="../images/icons8-plus-math-50.png"/>
        <img class="mt-3 img w-100 img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/doctors/doctor-3.png"/>
        <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" class="p-2 d-flex justify-content-center align-items-center flex-column bg-white w-100 h-25">
            <p style="font-weight: 300;" class="mt-2 second_page_heading">Neurology</p>
        <h3>Lorem, ipsum.</h3>
        </div>
        
    </div>
    
    


</div>
<div class="w-25   doc-btn  m-auto pagination-area d-flex justify-content-between align-items-center">
    <a href="#" class="btn bg-white prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
    <span style="background-color: #169FED;" class="btn-primary page-numbers current" aria-current="page">1</span>
    <a href="#" class=" btn bg-white page-numbers">2</a>
    <a href="#" class="btn bg-white page-numbers">3</a>
    <a href="#" class="btn bg-white page-numbers">4</a>
    <div>...</div>
    <a href="#" class=" btn bg-white page-numbers">5</a>
    <a href="#" class="btn bg-white next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
</div>

<%- include("partials/footer") -%>
<%- include("partials/foot") -%>
                
    

    