<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medip - Doctors & Medical Health</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" integrity="sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/95551304-c460-4b18-8e5e-d88ad3edd9d6-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div> -->
    <div class="containerr">
<div class="first_box">
    <div style="position: relative; " class="h-25 d-flex justify-content-between align-items-center w-100 ">
        <%- include("partials/nav") -%>
            <div class="d-flex m-auto mx-5 justify-content-between flex-column align-items-center h-50">
                <section class="h-25 m-auto mx-5">
                    <h1 class="local" style="font: 900 3vmax montserrat;">Services</h1>
                    <ul class="d-flex justify-content-around align-items-center" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" class="aos-init aos-animate">
                        <li style="list-style-type: none;">
                            <a href="/">Home</a>
                        </li>
                        <li>Services</li>
                    </ul>
            </section>
        </div>
            <aside class="aside mt-5">
                <img  class=" mt-5 pt-5 mx-5 img-fluid img-responsive w-75" src="https://templates.envytheme.com/medip/default/assets/images/page-banner/banner-2.png" alt="doc">
                <div class="shake">
                    <span class="rise-shake">Buy Now</span>
                </div>
                <img style="position: absolute; right: 50px; bottom: 50px;" class="top-page-bottom-center-div" src="https://templates.envytheme.com/medip/default/assets/images/main-banner/banner-one/banner-shape-2.png" alt="">
                <div class="switch-box">
                    <input type="checkbox">
                </div>
            </aside>
      </div>
  </div>
  <br><br><br><br>
  <%- include("partials/fiveth_box") -%>
  <%- include("partials/contact") -%>
  <%- include("partials/second_box") -%>
<%- include("partials/footer") -%>
<%- include("partials/foot") -%>
                
    

    